.product-container{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.card-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.p-logo{
  height: 15rem;
  filter:drop-shadow(-4px 25px 3px rgba(0,0,0,0.5));
 
}


@media (max-width: 600px) {
  .p-logo{
    height: 9rem;
  }
  .product-container{
    padding-top: 0px;
  }
}