@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Racing+Sans+One&family=Special+Gothic+Expanded+One&display=swap');
:root{
  --heading-font: 'Racing Sans One', "Special Gothic Expanded One", sans-serif;
}
html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

*{
  color: #000;
  text-align: center;
  text-decoration: none;
  list-style: none;
}


